---
layout: default
title: Welcome
summary: Game On! encourages hands-on exploration of microservices and related concepts.
---
<section class="home">
There are lots of new technologies and application patterns associated with
microservices. If you're like us, learning from reading someone's sample just
isn't enough. Game On! is a throwback text adventure game whose purpose is to
give intrepid developers who like to experiment "something to build". This blog
describes our own misadventures as we do the same.
</section>

<section class="articles">
  {% for post in site.posts limit:5%}
    {% assign author = site.contributors[post.contributor] %}
    {% assign tags = (post.tags | sort) %}
    <article>
      <header>
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <time class="post_date">{{ post.date | date: "%d %B %Y" }}</time> by
        <address class="author"><a rel="author" target="_blank" href="https://github.com/{{author.github}}">{{ post.contributor }}</a></address> &middot;
        <div class="tags">tags: <ul>
          {% for tag in tags %}
              <li><a href="">{{tag}}</a></li>
          {% endfor %}
          </ul>
        </div>
      </header>

      <section class="post_excerpt">
          {{ post.excerpt }}
      </section>
      {% if post.content.size > post.excerpt.size %}
        <footer>
          <div>[<a class="read-more" href="{{ post.url | prepend: site.baseurl }}">more</a>]</div>
        </footer>
      {% endif %}
    </article>
  {% endfor %}
</section>

<nav class="prev-next">
  <ul>
    {% if page.previous %}
      <li>&laquo;&nbsp;<a href="{{ page.previous.url }}">{{ page.previous.title }}</a></li>
    {% endif %}
      <li>&middot;&nbsp;<a href="./archive">Archive</a>&nbsp;&middot;</li>
    {% if page.next %}
      <li><a href="{{ page.next.url }}">{{ page.next.title }}</a>;&nbsp;&raquo;</li>
    {% endif %}
  </ul>
</nav>
