<header class="head">
  <h1><a href="{{ site.baseurl }}/">GAME<span class="on">ON</span></a></h1>
  <div>{{ site.description | default: site.github.project_tagline }}</div>
  <a target="_blank" href="https://github.com/gameontext/" class="button"><small>View project on</small> GitHub</a>
</header>
<nav class="project">
    <a target="_blank" class="github" href="https://github.com/gameontext" title="View project on GitHub"><i class="fa fa-github" aria-hidden="true"></i><span> Github</span></a>
    <a target="_blank" href="https://gameontext.org" title="Play the game"><i class="fa fa-play" aria-hidden="true"></i><span> Play <span>the game</span></span></a>
    <a target="_blank" href="https://book.gameontext.org" title="Read the book"><i class="fa fa-book" aria-hidden="true"></i><span> Read <span>the book</span></span></a>
    <a target="_blank" href="https://gameontext-slackin.mybluemix.net/" title="Join our slack team"><i class="fa fa-slack" aria-hidden="true"></i><span><span> Join us on</span> Slack</span></a>
</nav>
