---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "normalize";
@import "rouge-github";

html {
  font-size: 62.5%;
}

body {
  position: relative;
  min-height: 100vh;
  font-size: 1.2em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.3;
  font-weight: 400;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  color: #666;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* Headings
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 300; }
h1 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 2.8rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.6rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

.archive_list h2 {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;
}

/* Page Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header.head h1 {
  margin-top: 0;
  margin-bottom: 0.2rem;
  font-size: 42px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: -1px;
}
header.head h1 .on {
  font-weight: bold;
}
header.head div {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.3rem;
  letter-spacing: 0;
}
/* Post Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
article header {
  margin-bottom: 1rem;
}
.articles article header h1 { /* Just for post in list */
  margin-top: 1.5rem;
  font-size: 2.8rem; line-height: 1.25; letter-spacing: -.1rem;
}
article header h1 {
  margin-bottom: 0;
}
article header .byline {
  color: gray;
}

/* Other text elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */
p {
  margin-top: 0;
}
footer.foot,
section.home,
section.articles,
section.page,
article.post {
  padding: 10px 20px;
}
header.head {
  padding: 20px;
}
footer.foot {
  text-align: center;
}
nav.prev-next {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}
article header .tags {
  display: none;
}
article header address,
article header .tags ul,
article header .tags li {
  display: inline;
}
article header .tags ul {
  padding-left: 0;
  list-style-type: none;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  width: 10rem;
  text-align: center;
}
.right, .left {
  width: 1rem;
  padding: 0 5px;
}
/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #EA6F56; }
a:hover {
  color: #65CFD9; }

header.head,
header.head div,
header.head h1 a,
footer.foot,
footer.foot a {
  color: #fff;
  background-color: #35566B;
}
header.head h1 .on {
  color: #65CFD9;
}
nav.project,
nav.project a {
  background-color: #EA6F56;
  color: #fff;
}
section.home {
  background-color: #ddd;
  color: #35566B;
  border-bottom: 1px solid #ccc;
}
article header h1 {
  border-bottom: 1px solid #35566B;
}
/* Link decorations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section a {
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}
nav.project a,
header h1 a {
  text-decoration: none;
  border: none;
}
nav.project a {
  padding: 5px;
}
/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section.articles,
section.page,
article.post {
  flex-grow: 1;
}
nav.project {
  display: flex;
  justify-content: space-around;
}
footer.foot {
  display: flex;
  flex-direction: column;
}
article header .byline {
  display: flex;
  justify-content: space-between;
}
nav.prev-next {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
/* Hide extra content until wide viewport */
header.head a.button {
  display: none;
}
nav.project a > span {
  display: none;
}
/* Reveal and adjust as screen gets larger */
@media(min-width: 400px) {
  article header .tags {
    display: inline;
  }
}
/* Larger than phablet */
@media (min-width: 550px) {
  nav.project a > span {
    display: inline;
  }
  nav.project a > span > span {
    display: none;
  }
}
/* Larger than tablet */
@media (min-width: 750px) {
  nav.project a > span > span {
    display: inline;
  }
  nav.project .github {
    display: none;
  }
  header.head a.button {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 134px;
    height: 58px;
    padding: 22px 0 0 68px;
    font-size: 1.3rem;
    line-height: 1.2rem;
    text-decoration: none;
    color: #fff;
    background: transparent url(../images/github-button.png) 0 0 no-repeat;
  }
  header.head div {
    margin-right: 220px;
  }
  footer.foot {
    flex-direction: row;
    justify-content: space-between;
  }
}
