---
layout: default
---
<article class="post"s>
  {% assign author = site.contributors[page.contributor] %}
  {% assign tags = (page.tags | sort) %}
  <header>
    <h1>{{ page.title }}</h1>
    <div class="byline">
      <div><time class="post_date">{{ page.date | date: "%d %B %Y" }}</time> by
           <address class="author"><a rel="author" target="_blank" href="https://github.com/{{author.github}}">{{ page.contributor }}</a></address>
      </div>
      <div class="tags">tags: <ul>
        {% for tag in tags %}
          <li><a href="">{{tag}}</a></li>
        {% endfor %}
        </ul>
      </div>
  </header>

  <section class="post">
      {{ page.content }}
  </section>
</article>

{% include prevnext.html %}
