---
layout: default
---
<article>

  {% assign author = site.contributors[page.contributor] %}
  <header>
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
  </header>

  <section class="post">
      {{ page.content }}
  </section>

  <footer>
    {% assign tags = (page.tags | sort) %}
    <time class="post_date">{{ page.date | date: "%d %B %Y" }}</time> by
    <address class="author"><a rel="author" target="_blank" href="https://github.com/{{author.github}}">{{ page.contributor }}</a></address> &middot;
    <div class="tags">tags: <ul>
      {% for tag in tags %}
          <li><a href="">{{tag}}</a></li>
      {% endfor %}
      </ul>
    </div>
  </footer>
</article>

<nav class="prev-next">
  <ul>
    {% if page.previous %}
      <li>&laquo;&nbsp;<a href="{{ page.previous.url }}">{{ page.previous.title }}</a></li>
    {% endif %}
      <li>&middot;&nbsp;<a href="./archive">Archive</a>&nbsp;&middot;</li>
    {% if page.next %}
      <li><a href="{{ page.next.url }}">{{ page.next.title }}</a>;&nbsp;&raquo;</li>
    {% endif %}
  </ul>
</nav>
